<template name="mainLayout">
	<head>
		<title>Reader Admin</title>
      <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	</head>

	<body>

		<br>
    <div class="container">
      <div class="row">
        {{> navTemplate}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6"></div>
      <div class="col-lg-6 col-md-6 pull-right">
        <!--  -->
        <p style="color: red; padding-top: 40px"><h3></h3></p>
        <!-- loginDropdown-->
      </div>
    </div>
    <br>
    <!-- CAN I PUT HOME HERE???? -->
    <br>
    <div class="container" >
      <div class="row">
        <div class="col-lg-6">
          <!-- 
          
           -->
          {{>yield}}
        </div>
      </div>
    </div>

  </body>
  
</template> <!-- mainLayout -->



<template name="home">
   {{> insertBookForm}}
</template>

<!-- Basic Insert Form -->
<template name="insertBookForm">
  {{# autoForm collection="Books" id="insertBookForm"  type="insert" validation="keyup" resetOnSuccess=false }}
  <!-- #autoForm collection="Books" id="insertBookForm" type="insert"-->
  <fieldset>
    <legend> Insert a Top Story </legend>
    {{> afQuickField name='headerFile'}}
    {{> afQuickField name='title' class="full-text"}}
    {{> afQuickField name='requiredEmail'}}
    {{> afQuickField name='author'}}
    {{> afQuickField name='rootPath'}}
    {{> afQuickField name='slide_01' type='file'}}
    {{> afQuickField name='slide_02' type='file'}}
    {{> afQuickField name='slide_03' type='file'}}
    {{> afQuickField name='slide_main' type='file'}}
 <!--    {{> afQuickField name='image' type='file'}}
    {{> afQuickField name='url' type='file'}} -->
    {{> afQuickField name='tags'}}
    {{> afQuickField name='related_infographic' type='file'}}
    {{> afQuickField name='related_video'}}
    {{> afQuickField name='related_comic'}}
    {{> afQuickField name='related_joke_text' class="full-text"}}
    {{> afQuickField name='related_joke_image' type='file'}}
    {{> afQuickField name='story_text' class="full-text" rows=10}}
    {{> afQuickField name='summary' class="full-text"}}
    {{> afQuickField name='radioBoolean'}}
  </fieldset>
  <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
</template>

<!-- Just this gives you!!
An autogenerated form that uses bootstrap3 classes.

Appropriate HTML5 fields for all keys in the "Books" collection schema.

A submit button that gathers the entered values and inserts them into the "Books" collection.

Form validation based on the "Books" collection schema. By default the form is validated when the user submits. If anything is invalid, the form is continually re-validated on keyup (throttled) as the user fixes the issues.

Default validation error messages that appear under the fields, and can be customized and translated.
 -->
<!-- Basic Update Form -->
<template name="updateBookForm">
    <legend> Update a Top Story </legend>
  {{# autoForm collection="Books" doc=editingDoc id="updateBookForm" type="update" validation="keyup"}}
  <!-- #autoForm collection="Books" id="insertBookForm" type="insert"-->
  <fieldset>
    {{> afQuickField name='headerFile'}}
    {{> afQuickField name='title' class="full-text"}}
    {{> afQuickField name='requiredEmail'}}
    {{> afQuickField name='author'}}
    {{> afQuickField name='rootPath'}}
    {{> afQuickField name='slide_01' type='file'}}
    {{> afQuickField name='slide_02' type='file'}}
    {{> afQuickField name='slide_03' type='file'}}
    {{> afQuickField name='slide_main' type='file'}}
    <!-- {{> afQuickField name='image' type='file'}}
    {{> afQuickField name='url' type='file'}} -->
    {{> afQuickField name='tags'}}
    {{> afQuickField name='related_infographic' type='file'}}
    {{> afQuickField name='related_video'}}
    {{> afQuickField name='related_comic'}}
    {{> afQuickField name='related_joke_text' class="full-text"}}
    {{> afQuickField name='related_joke_image' type='file'}}
    {{> afQuickField name='story_text' class="full-text" rows=10}}
    {{> afQuickField name='summary' class="full-text"}}
    {{> afQuickField name='radioBoolean'}}
  </fieldset>
  <button type="submit" class="btn btn-primary">Update</button>
  {{/autoForm}}
</template>

<template name="loading"> 
  {{> spinner}}
</template>
<!-- Basic ( shit ) Remove Form -->
<template name="removeBookForm">
  {{#if $.Session.equals 'CCDEBUG' true}}
    <legend><span style="color: red">Environment Debug</span></legend>
    <table class="table table-bordered table-striped table-hover" style="margin: 25px 0;" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>testData  - passed to autoform</td>
          <td>{{testData}} </td>
          <td>Global Helper Variable </td>
        </tr>

        <tr>
          <td>personFormType  - passed to autoform</td>
          <td>{{$.Session.get 'personFormType'}} </td>
          <td>Session Variable feeding template Var<br> of same name. </td>
        </tr>

        <tr>
          <td>editingDoc</td>
          <td>{{editingDoc}} </td>
          <td>Template Variable</td>
        </tr>

        <tr>
          <td>selectedDocId</td>
          <td>{{$.Session.get 'selectedDocId'}} </td>
          <td>Session Variable</td>
        </tr>

        <tr>
          <td>showPersonForm</td>
          <td>{{showPersonForm}} </td>
          <td>Template Variable</td>
        </tr>

        <tr>
          <td>CCDEBUG</td>
          <td>{{$.Session.get 'CCDEBUG'}} </td>
          <td>Session Variable</td>
        </tr>

      </tbody>
    </table>
  {{/if}}
  <legend> Remove a Top Story </legend>
  <!-- 
    We need a table here which is a list of all top stories. Look at persons form for example. 
   -->
  <table class="table table-bordered table-striped table-hover" style="margin: 25px 0;">
    <thead>
      <tr>
        <th>Title</th>
        <th>Summary</th>
        <th>Author</th>
        <th>Created At</th>
        <th>Main Slide</th>
      </tr>
    </thead>
    <tbody>
      {{#each books}}
      <tr>
        <td>{{title}}</td>
        <td>{{summary}}</td>
        <td>{{author}}</td>
        <td>{{createdAt}}</td>
        <td>{{clean_slide_main}}</td>
        <td>
          {{#afDeleteButton collection='Books' doc=this style='height: 30px;'}}<span style="color: yellow">DELETE</span>
          {{/afDeleteButton}}
        </td>
        <td>
          <button type="button" class="btn btn-primary updateStoryButton">UPDATE</button>
        </td>
        <!-- 
         {{#autoForm collection='Books' doc=this type="remove"}}
          <button type="submit" class="btn btn-danger deleteStoryButton">Delete!!</button>
         {{/autoForm}} -->
 <!--        <td>
        </td> -->
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>


<!-- Basic Custom Insert Form -->
<!-- Nav action -->
<template name="navTemplate">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Dailes CMS - Topstory Admin</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="{{pathFor 'add_top_story'}} ">Add</a></li>
            <li><a href="{{pathFor 'update_top_story'}} ">Update</a></li>
            <li><a href="{{pathFor 'remove_top_stories'}} ">Remove</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
